body {

}
.con1{
        background-image: url(../image/Снимок1.PNG);
        height: 625px;
    }
    .con2{
        background-color: write;
    }
    .con3{
            background-color: gray;
    }
    .text1{
        margin-top: 127px;
        margin-left: 55px;
    }
    .item2{
        padding-top: 27px;
        padding-bottom: 27px;
    }
