body {

}
.con1{
        background-image: url(../image/Снимок1.PNG);
        height: 625px;
    }
    .con2{
        background-color: write;
    }
    .con3{
         background-color: #eeeff3;
         height: 445px;
        }
    .text1{
        margin-top: 127px;
        margin-left: 55px;
    }
    .item2{
        padding-top: 27px;
        padding-bottom: 27px;
    }
    .text2{
            margin-top: 75px;
            margin-left: 250px;
        }

    .btn btn-secondary 2{
        padding-top: 27px;
    }
